.VideoTexto{
    height: 85%;
}
article{
    margin: 10px;
    display: flex;
    overflow: hidden;
}
.Texto{
    
    width: 70%;
    height: 70%;
    margin-right: 10px;
    margin-left: 10px;
}
.Texto i{
    position: relative;
    float: left;
    font-size: 30px;
}
.Imgs{
    width: 28%;
    height: 30%;
}
.Imgs img{
    height: 100%;
    float: right;
    width: 100%;
}
/*CSS PARA EL ARCHIVO contacto.html*/
.AltoDePantalla{
    height: 90%;
}
.Posiciones{
    align-items: center;
    height: 85%;
}
.Posiciones2{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
}
.Posiciones2 button{
    margin: 10px;
    min-width: ;
}
.Posiciones2 button a{
    margin: 30px;
    font-size: 30px;
}
.Imgs2{
    width: 50%;
    margin-top: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
}
