/*CSS PARA EL ARCHIVO index.html*/
.fila {
    overflow: hidden;
    clear: both;
}
.Video{
    height: 85%;
}
/*CSS PARA EL ARCHIVO noticias.html*/
.VideoTexto{
    height: 85%;
}
.VideoTexto article{
    margin: 10px;
    display: flex;
    overflow: hidden;
}
.Texto{
    width: 70%;
    height: 70%;
    margin-right: 10px;
    margin-left: 10px;
}
.Texto i{
    position: relative;
    float: left;
    font-size: large;
}
.Imgs{
    width: 28%;
    height: 30%;
}
.Imgs img{
    height: 100%;
    float: right;
    width: 100%;
}
/*CSS PARA EL ARCHIVO contacto.html*/
.AltoDePantalla{
    height: 90%;
}
.Posiciones{
    display: flex;
    align-items: center;
    height: 85%;
}
.Posiciones2{
    padding-top: 100px;
    padding-left: 100px;
}
.Posiciones2 ul{
    width: 50%;
    flex-flow: column wrap;
}
.Posiciones2 ul li{
    margin: 10px;
}
.Posiciones2 ul li a{
    margin: 30px;
    font-size: 30px;
}
.Imgs2{
    width: 100%;
    align-items:stretch;
    height: 100%;
    display: flex;
    justify-content: center;
}

/*CSS PARA EL ARCHIVO m_drones.html*/
.Drones{
    width: auto;
    height: auto;
    text-align: center;
}
.Drones article{
    overflow: hidden;
}
.Drones article h2{
    font-size: 30px;
    margin: 2px;
}