@media screen and (max-width: 1000px) {
    .Navegacion-Tamaño{
        height: 8%;
    }
    .Navegacion-Tamaño li a{
        border-radius: 30px;
        width: 100%;
        background: blue;
    }
    .Navegacion-Celular{
        height: 10%;
        display: none;
    }
    .Navegacion img{
        margin-left: 5px;
        display: inline;
        float: left;
        width: 10%;
    }
    .Visible{
        margin-left: 5px;
        display: contents;
        float: left;
        width: 70px;
    }
    .Img2-Celular img{
        width: 100%;
        display: block;
        padding: 0px;

    }
    .Posiciones2{
        display: none;
    }
    .Posiciones-Celular{
        height: 0%;
    }
    .ImagenesRedes{
justify-content: center;
        display: flex;
        clear: left;
    }
    .ImagenesRedes li{
        margin: 3px;
        
    }
    footer{
        display: none;
    }
    .Texto-Celular{
        overflow-y: scroll;
    }
}